@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);

  --font-alata-400: "Alata", sans-serif;
  --font-josefin-sans-300: "Josefin Sans", sans-serif;
}

body {
  font-family: var(--font-alata-400);
  font-size: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--white);
}

.menu-panel__btn {
  position: absolute;
  z-index: 998;
  right: 0;
  top: 3vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-panel {
  position: fixed;
  z-index: 997;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--black);
  transition: all 0.3s ease;
  transform: translate(-100%, 0%);
}

.is-active {
  transform: translate(0, 0);
}

.main-menu {
  font-family: var(--font-josefin-sans-300);
  margin: 50% 1em;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main-menu a {
  padding: 0.5em;
  width: inherit;
  display: block;
  font-size: 1.5rem;
  color: var(--white);
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.main-header {
  background-image: url("./images/mobile/image-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  height: 100vh;
  margin-bottom: 3em;
  position: relative;
  padding: 0 1em;
}

.main-menu__logo {
  margin: 2em 0;
  position: relative;
  width: 175px;
  z-index: 999;
}

.main-menu a:hover {
  font-weight: bold;
}

.main-header__box {
  margin: 25vh 0;
  padding: 1em;
  border: 2px solid var(--white);
}

h1 {
  font-family: var(--font-josefin-sans-300);
  inline-size: min-content;
  margin: 0 auto;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: start;
}

.about {
  padding: 0 1em;
  text-align: center;
}

.about-description {
  padding: 0 1.5em;
  margin-bottom: 5em;
  font-family: var(--font-josefin-sans-300);
}

.about-description h2 {
  letter-spacing: 5px;
  font-size: 26px;
  margin: 2em 0 0 0;
  text-transform: uppercase;
}

.about-description p {
  font-family: var(--font-alata-400);
  color: var(--dark-gray);
  line-height: 1.5;
}

.main-section {
  text-align: center;
  padding: 0 1em;
}

.main-section__title {
  font-family: var(--font-josefin-sans-300);
  font-weight: normal;
  font-size: 26px;
  margin: 1em;
  text-transform: uppercase;
}

.main-section__cards {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.image-mobile {
  display: initial;
}
.image-desktop {
  display: none;
}

.main-section__box {
  position: relative;
  margin: 0.5em 0;
}

.main-section img {
  width: 100%;
  filter: brightness(0.7);
}

.main-section__text {
  bottom: 0;
  color: var(--white);
  font-family: var(--font-josefin-sans-300);
  font-size: 22px;
  margin-left: 1em;
  position: absolute;
  text-transform: uppercase;
  text-align: start;
  width: 115px;
}

.main-section__button-bottom {
  background-color: var(--white);
  letter-spacing: 8px;
  height: 50px;
  margin: 0 0 5em 0;
  width: 175px;
  text-transform: uppercase;
  border: var(--black) solid 1.5px;
}

.main-section__button-top {
  display: none;
}

.main-footer {
  background-color: var(--black);
  color: var(--white);
  padding: 1em;
  text-align: center;
}

.main-footer__left {
  font-size: 18px;
}

.main-footer__logo {
  margin: 2em 0 1em 0;
  width: 150px;
}

.main-footer__links {
  display: flex;
  flex-direction: column;
}

.main-footer_item {
  margin-bottom: 2em;
}

.main-footer__networks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  width: 200px;
  margin: 0 auto;
}

.main-footer p {
  color: var(--dark-gray);
  margin-bottom: 2em;
}

@media (min-width: 992px) {
  .main-header {
    background-image: url(./images/desktop/image-hero.jpg);
    position: relative;
    padding: 0 10em;
  }

  .main-header__box {
    width: 580px;
    height: 250px;
    border: 2px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
  }

  h1 {
    font-family: var(--font-josefin-sans-300);
    inline-size: auto;
    font-size: 60px;
    font-weight: normal;
    line-height: 60px;
  }

  .menu-panel__btn[type="button"] {
    display: none;
  }

  .menu-panel {
    position: absolute;
    left: auto;
    top: 3vh;
    background-color: transparent;
    width: 50%;
    transform: translate(0, 0);
  }

  .main-menu {
    width: inherit;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .main-menu a {
    padding: 0.5em;
    width: inherit;
    display: block;
    font-size: 15px;
    color: var(--white);
    font-family: var(--font-alata-400);
    text-transform: initial;
  }

  .about {
    position: relative;
    display: flex;
    margin-bottom: 5em;
    padding: 0 10em;
    text-align: start;
  }

  .about-image {
    width: 100%;
  }

  .about-description {
    position: absolute;
    top: 200px;
    right: 150px;
    background-color: var(--white);
    width: 500px;
    padding: 4em;
  }

  .about-description h2 {
    font-size: 36px;
    text-align: center;
    margin: 0;
    font-weight: normal;
  }

  .about-description p {
    text-align: start;
    margin: 0;
  }

  .main-section {
    padding: 0 10em;
    margin-bottom: 5em;
  }

  .main-section__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
  }

  .main-section__title {
    margin: 0;
    font-size: 32px;
  }

  .main-section__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .image-mobile {
    display: none;
  }
  .image-desktop {
    display: initial;
  }

  .main-section__box {
    width: 200px;
  }

  .main-section__button-top {
    display: inline-block;
    background-color: var(--white);
    letter-spacing: 5px;
    height: 40px;
    width: 150px;
    text-transform: uppercase;
    border: var(--black) solid 1.5px;
    font-size: 12px;
  }

  .main-section__button-bottom {
    display: none;
  }

  .main-footer {
    padding: 0 5em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .main-footer__left {
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 15px;
  }

  .main-footer__logo {
    margin-bottom: 1em;
    width: 150px;
  }

  .main-footer__links {
    flex-direction: row;
    width: 400px;
    justify-content: space-between;
  }

  .main-footer__networks {
    padding-right: 0;
    margin-right: 0;
  }
}
